google-genai
ffmpeg-python
accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
bitsandbytes
blobfile
certifi
cffi
charset-normalizer
colorama
distro
filelock
frozenlist
fsspec
h11
httpcore
httpx
huggingface-hub
idna
Jinja2
jiter
llvmlite
lxml
MarkupSafe
more-itertools
mpmath
multidict
networkx
numba
numpy
openai
openai-whisper
packaging
pillow
propcache
protobuf
psutil
py-cord
pycparser
pycryptodomex
pydantic
pydantic_core
PyNaCl
python-dotenv
PyYAML
regex
requests
safetensors
sniffio
sympy
tiktoken
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
urllib3
yarl
